body {
  margin: 0;
  background: black;
  color: #00ff00;
  font-family: "Courier New", monospace;
  font-size: 16px;
}

#terminal {
  padding: 20px;
  white-space: pre-wrap;
}

#output {
  line-height: 1.4em;
}
